.container {
  display: flex;
  height: 100vh;

  .banner {
    width: 550px;
    background: linear-gradient(163.85deg, #1d2129 0%, #00308f 100%);
  }
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;

  &-inner {
    height: 100%;
    flex: 1;
  }
}




.login-form {
  flex: 1 1;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;      /* 垂直居中 */
}
