.anlyanis-container-second-card {
	margin-top: 20px;
	.semi-card-header-bordered {
		border: 0;
	}
	.semi-card-header {
		padding: 0;
	}
	.semi-tabs-bar {
		padding-left: 20px;
	}
	.semi-list-item {
		display: block;
		border-bottom: 0;
		box-sizing: border-box;
		padding: 12px 0 24px 0;
		margin: 0;
		list-style: none;
	}
	.anlyanis-container-second-card-sales-card-header h4 {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 0.5em;
		color: rgba(0, 0, 0, 0.85);
		font-weight: 500;
	}
}
